p {
  margin-top: 0px;
  font-family: Arial;
  margin-bottom: 5px;
}
.twitter {
  display: flex;
  width: 410px;
}
.left-side {
  margin: 0px;
}
.right-side {
  margin-left: 10px;
  margin-top: 4px;
}
.name {
  color: rgb(131, 131, 131);
}
.PP {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 25px;
}
.bottom-right {
  display: flex;
  margin-top: 15px;
}
.grey-space {
  width: 100px;
  height: 100px;
  background-color: rgb(220, 220, 220);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
.link {
  border-style: solid;
  border-color: rgb(220, 220, 220);
  border-width: 1.5px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  flex: 1;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.youtube-link {
  color: rgb(131, 131, 131);
}